# this repository requires following 
# packages to be installed.

# for the sake of development. uncomment
# for install.
# jupyter
# jupyterlab
# pip-tools

# everything in here needs
numpy
pandas
sklearn
pyreadr
pyspark[sql,ml,mllib]<=3.1.1